{{#each posts as |post| }}
<a class="black" href="/comment/{{post.id}}">
<div class="post borderMD row mb-4 post">
  <div class="col-md-12">
    <h2>
      {{post.title}}
    </h2>
    <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
</div>
</a>
{{/each}}
