<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="borderMD row mb-4 project">
  <div class="col-md-12">
    <h2>
      {{project.name}}
    </h2>
    <p>
    {{project.input}}
    </p>
    <p>Posted by {{project.user.name}} on {{format_date project.date_created}}</p>
    <button class="borderBase btn btn-primary">Add Comment</button>
  </div>
</div>
{{/each}}
